asgiref==3.5.0
astroid==2.9.3
backports.zoneinfo==0.2.1
certifi==2021.10.8
charset-normalizer==2.0.10
Django==4.0.1
djangorestframework==3.13.1
future==0.18.2
greenlet==1.1.2
idna==3.3
isort==5.10.1
jedi==0.18.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
msgpack==1.0.3
Paperboy==1.0.1
parso==0.8.3
paystack==1.5.0
Pillow==9.0.0
platformdirs==2.4.1
pylint==2.12.2
pynvim==0.4.3
-e git+https://github.com/gbozee/django-paystack.git@24df1c9ca209031e0ec940ff8552d45ca6b55421#egg=pypaystack
python-dateutil==2.8.2
pytz==2021.3
requests==2.27.1
simplejson==3.17.6
six==1.16.0
sqlparse==0.4.2
stripe==2.65.0
toml==0.10.2
typing-extensions==4.0.1
urllib3==1.26.8
wrapt==1.13.3
